<head>
<script>

  $(document).ready(function() {

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      editable: false,
      events: [

        <% @user.events.each do |event| %>
          <% unless event.event_type == 3 %>
            {
            title: '<%= EVENT_TYPE[event.event_type] %>',
            start: new Date(<%= event.get_start_datetime_calendar if event %>),
            end: new Date(<%= event.get_end_datetime_calendar %>),
            allDay: false,
            url: '<%= user_event_path(@user,event) %>'
            },
          <% end %>
        <% end %>
        ]
    });

  });

</script>

</head>

<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Bdate:</b>
  <%= @user.bdate %>
</p>

<p>
  <b>Weight:</b>
  <%= @user.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @user.height %>
</p>



  <div class="span10 offset1">
    <%= high_chart("chart", @h) do |c| %>
    <%=   %>
    <% end %>
  </div>
  <br>
  <br>
<h2>User's events</h2>
<table class="table table-condensed table-hover table-striped">

   <tr>
    <th>Entered at</th>
    <th>Event type</th>
    <th>Body part</th>
    <th>Level</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Temperature</th>
    <th>Drugs</th>
    <th>Event description</th>
    <th>Activity type</th>
    <th>Activity since</th>
    <th></th>
  </tr>

<% @user.events.each do |event| %>
  <tr>
    <td><%= event.entered_at %></td>
    <td><%= EVENT_TYPE[event.event_type] %></td>
    <td><%= BODY_PART[event.body_part.to_i] %></td>
    <td><%= event.level %></td>
    <td><%= DESCRIPTION[event.description.to_i] %></td>
    <td><%= QUANTITY[event.quantity.to_i] %></td>
    <td><%= TEMPERATURE[event.temperature.to_i] %></td>
    <td><%= event.drugs %></td>
    <td><%= event.event_description %></td>
    <td><%= ACTIVITY_TYPE[event.activity_type.to_i] %></td>
    <td><%= event.activity_since %></td>
    <td class="list_actions"><%= link_to 'Show', user_event_path(@user,event) %></td>
  </tr>
<% end %>


</table>
<br>
<div id='calendar'></div>




