<head>
<script>

  $(document).ready(function() {

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      editable: false,
      events: [

        <% @user.events.each do |event| %>
          {
          title: '<%= EVENT_TYPE[event.event_type] %>',
          start: new Date(<%= event.entered_at.year %>, <%= event.entered_at.month-1 %>, <%= event.entered_at.day %>, <%= event.entered_at.hour %>, <%= event.entered_at.min %>),
          end: new Date(<%= event.entered_at.year %>, <%= event.entered_at.month-1 %>, <%= event.entered_at.day %>, <%= event.entered_at.hour+1 %>, <%= event.entered_at.min %>),
          allDay: false,
        },
        <% end %>
        <% @user.events.each do |event| %>
          {
          title: '<%= ACTIVITY_TYPE[event.activity_type] %>',
          start: new Date(<%= event.activity_since.year %>, <%= event.activity_since.month-1 %>, <%= event.activity_since.day %>, <%= event.activity_since.hour %>, <%= event.activity_since.min %>),
          end: new Date(<%= event.entered_at.year %>, <%= event.entered_at.month-1 %>, <%= event.entered_at.day %>, <%= event.entered_at.hour %>, <%= event.entered_at.min %>),
          allDay: false,
        },
        <% end %>
        ]
    });

  });

</script>
</head>

<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @user.id %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Bdate:</b>
  <%= @user.bdate %>
</p>

<p>
  <b>Weight:</b>
  <%= @user.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @user.height %>
</p>

<h2>User's events</h2>

<table class="table table-condensed table-hover table-striped">

   <tr>
    <th>Entered at</th>
    <th>Event type</th>
    <th>Body part</th>
    <th>Level</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Temperature</th>
    <th>Drugs</th>
    <th>Activity type</th>
    <th>Activity since</th>
  </tr>

<% @user.events.each do |event| %>
  <tr>
    <td><%= event.entered_at %></td>
    <td><%= EVENT_TYPE[event.event_type] %></td>
    <td><%= BODY_PART[event.body_part.to_i] %></td>
    <td><%= event.level %></td>
    <td><%= DESCRIPTION[event.description.to_i] %></td>
    <td><%= QUANTITY[event.quantity.to_i] %></td>
    <td><%= TEMPERATURE[event.temperature.to_i] %></td>
    <td><%= event.drugs %></td>
    <td><%= ACTIVITY_TYPE[event.activity_type.to_i] %></td>
    <td><%= event.activity_since %></td>
  </tr>
<% end %>


</table>

<div id='calendar'></div>
  


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
