<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>

<p>
  <b>Entered at:</b>
  <%= @event.entered_at %>
</p>

<p>
  <b>Event type:</b>
  <%= EVENT_TYPE[@event.event_type] %>
</p>

<p>
  <b>Body part:</b>
  <%= BODY_PART[@event.body_part.to_i] %>
</p>

<p>
  <b>Level:</b>
  <%= @event.level %>
</p>

<p>
  <b>Description:</b>
  <%= DESCRIPTION[@event.description.to_i] %>
</p>

<p>
  <b>Quantity:</b>
  <%= QUANTITY[@event.quantity.to_i] %>
</p>

<p>
  <b>Temperature:</b>
  <%= TEMPERATURE[@event.temperature.to_i] %>
</p>

<p>
  <b>Drugs:</b>
  <%= @event.drugs %>
</p>

<p>
  <b>Activity type:</b>
  <%= ACTIVITY_TYPE[@event.activity_type.to_i] %>
</p>

<p>
  <b>Activity since:</b>
  <%= @event.activity_since %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
